.navbar-fixed-bottom {
  background-color: #f5f5f5;
}

.footer-clear {
  clear: both;
  // The footer is 40px, but this ensures that the content won't get too close to the footer.
  height: 60px;
}

.footer-content {
  padding: 10px 20px;
}

.footer-link {
  margin-left: 15px;
}
