.splashlogo {
  padding-top: 30px;
  text-align: center;
}

.introbox_container {
  margin: auto;
  margin-top: 30px;
  width: 700px;
}

.introbox {
  background-color: #C9D6C2;
  border-radius: 10px;
  font-size: 19px;
  padding: 20px;
  width: 300px;
  h2 {
    text-align: center;
  }
  .btn {
    margin-top: 8px;
    margin-left: 80px;
  }
  .btn-auth {
    margin-top: 8px;
    margin-left: 60px;
  }
}
