.navbar-inner {
  background-color: #393D40;
  background-image: none;

  a {
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 10px;
  }

  .btn-github {
    color: #000000;
    margin-top: 8px;
  }
}
