h2.settings-header {
  margin-bottom: 35px;
}

textarea.span6 {
  height: 80px;
}

textarea#programmer_description, textarea#client_description {
  height: 160px;
}

.skill-checkbox {
  margin-left: 0px;
  margin-right: 20px;
}

input.rate-field {
  margin: 0 5px;
  padding: 1px 6px;
  width: 32px;
}

select.month-field {
  display: inline;
  width: 120px;
}

input.year-field {
  display: inline;
  margin-left: 10px;
  width: 35px;
}

a.add_nested_fields, a.remove_nested_fields {
  display: block;
  width: 160px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: right;
}

.repo-owner-field {
  margin-right: 10px;
  width: 125px;
}

.repo-name-field {
  margin: 0 10px;
  width: 125px;
}

.verify-contribution-message {
  margin-top: 10px !important;
}

.repo-checkbox {
  margin-left: 24px;
}

.show-label {
  padding-left: 73px;
}

.show-row {
  margin: 0 0 5px 0 !important;
}

#payform {
  margin-top: 15px;
}

input#security_code {
  width: 30px;
}

.control-group.portfolio-info {
  margin: 60px 0 0 0 !important;
}
