h2.settings-header {
  margin-bottom: 35px;
}

textarea#programmer_description {
  height: 100px;
}

input.rate-field {
  margin: 0 5px;
  padding: 1px 6px;
  width: 32px;
}

select.month-field {
  display: inline;
  width: 120px;
}

input.year-field {
  display: inline;
  margin-left: 10px;
  width: 35px;
}

a.add_nested_fields, a.remove_nested_fields {
  display: block;
  width: 160px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: right;
}
