body {
  background-color: #fffbf7;
}

a {
  cursor: pointer;
}

.main-content {
  width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alert {
  margin: auto;
  width: 400px;
}

.flash-message {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.ajax-load {
  margin-left: 5px;
}

textarea.span6 {
  height: 80px;
}
