body {
  background-color: #fffbf7;
}

.main-content {
  width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alert {
  margin: auto;
  width: 400px;
}

.hidden {
  display: none;
}

.ajax-load {
  margin-left: 5px;
}
